.container {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  margin-top: 10px;
}

.col {
  display: grid;
}

.coltwo {
  margin-top: 45px;
}

#mainheader {
  background-color: blueviolet;
  padding: 20px 20px;
}
